.main-page{
    padding: 0;
    margin: 0;
}
.main-container{
    width: 85%;
    display: flex;
   
}
.main-container .top-left{
    width: 62%;
    height: 579px;
  
}

.carousel-inner img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 579px;
}
.main-container .top-right{
    width: 38%;
    height: 579px;
    display: flex;
    flex-direction: column;
    

   
}
.top-right-top{
    background-color: #ffc107;
    height: 529px;
}

.top-right .content{
    padding-left: 60px;
   
}
.top-right .content-2{
    margin-top: 10px;
    
}
.top-right .content-2 h1{
    font-family: "Poppins", Arial, sans-serif;
    font-size:48px;
    font-weight: 900;
}
.top-right .content-2 hr{
  color: black;
    height: 5px;
    width: 300px;  
}
.top-right .content p{
    width: 300px;
    font-size: 19px;
    
}
.content button{
    margin-top:15px;
   padding: 10px 15px;
    background-color: black;
    color: white;
}
.content button:hover{
    
    background-color: #f53900;
    color: white;
}
.top-right-bottom{
    
    display: flex;
    align-items: center;
    text-align: center;
}
.forward{
    width: 50%;
  padding: 10px;
 color:  rgb(139, 135, 135);
}
.backward{
    width: 50%;
    padding: 10px;
    color: rgb(139, 135, 135);
}
.forward:hover{
    width: 50%;
  padding: 10px;
 color: white;
 background-color: black;
}
.backward:hover{
    width: 50%;
    color: white;
    background-color: black;
}
.backward i{
 align-items: center;
 
    /* top: 50px; */
}